html{    
    font-family: 'Asimovian','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: rgb(146, 204, 255);
    text-shadow: 3px 3px 6px rgb(0, 63, 157);
}
html, body {
    margin: 0;
    height: 100%;
}
body{
    background-image: url("splashBG2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

h1{
    color: aliceblue;
    text-align: center;
}
strong{
    font-size: 1.5rem;
    color: aliceblue;
}

.clearBox{
    display: flex;
    background-color: rgba(240, 255, 255, 0.2);
    width: 50rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 10px;
    border: white double 10px;
    border-radius: 20px;
}

.btn{
    display: flex;
    background-color: navy;
    text-align: center;
    border: aliceblue 2px double;
    width: 100px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    
}

a:visited{
    color: aliceblue;
}

a{
    color:aliceblue;
}

a:hover{
    color: rgb(146, 204, 255);
}

.videos{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#searchArea{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#chartArea{
    display: flex;
    margin: auto;
    width: 30rem;
    height: auto;
}
