<!DOCTYPE html>
<html lang="en">
<head>
	<title>Clean Water Visualizer</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script> window.portLink = "<%- portNumberLink %>";</script>

</head>

<div>
    <h1>Global Clean Water Visualizer</h1>
</div>
<div class="clearBox">
    
    <h3>According to UNICEF, between 2015 and 2024, <strong>961 million</strong> people gained access to 
        safely managed drinking water services. Currently, <strong>74%</strong> of people around the world 
        have access to clean water. However, <strong>2.1 billion</strong> people still lack safely managed drinking water.
    </h3>
    
</div>
<br>
<br>
<div class="btn">
    <a href="/visualizer">Click Here to Explore</a>
</div>
<br>
<div class="clearBox">
    
    <table class="styled-table">
        <tr>
            <th>Service Level</th>
            <th>Definition</th>
        </tr>
        <tr>
            <td>Basic</td>
            <td>Drinking water from an improved source.* Collection time is not more than 30 min, or is accessible when needed and free from contamination.</td>
        </tr>
        <tr>
            <td>Limited</td>
            <td>Drinking water from an improved source.* Collection time is more than 30 min.</td>
        </tr>
        <tr>
            <td>Unimproved</td>
            <td>Drinking water from an unprotected dug well or spring.</td>
        </tr>
        <tr>
            <td>Surface Water</td>
            <td>Drinking water directly from bodies of water such as a river, dam, lake, pond, stream, canal, or irrigation canal.</td>
        </tr>
    </table>
    <br>
</div>
<br>
    <p class="note">*Improved Sources include piped water, boreholes or tubewells, protected dug wells, protected springs, rainwater, and packaged or delivered water.</p>

<br>
<div id="searchArea">
    <p style="color: aliceblue;">Select a Country:   </p>
    <select id="selectCountry">
        <option value="">Loading countries...</option>
    </select>
</div>
<br><br>
<div id="chartArea"> 
    <canvas id="myChart" width="300" height="150"></canvas>
</div>


<div class="videos">
    
</div>
</html>
<script src="/script.js" defer></script>
