<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clean Water Visualizer</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script> window.portLink = "<%- portNumberLink %>";</script>
</head>
<body>
    <div>
    <h1>Global Clean Water Visualizer</h1>
</div>
</body>
</html>