<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clean Water Visualizer</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script> window.portLink = "<%- portNumberLink %>";</script>
</head>
<body>
    <div>
    <h1>Global Clean Water Visualizer</h1>
</div>
<canvas id="tdCanvas" width="1280" height="720"></canvas>
</body>

<script defer>
    const canvas = document.getElementById('tdCanvas');
    const ctx = canvas.getContext('2d');
    // connect to touch designer websocket
const ws = new WebSocket('ws://localhost:4000');

ws.onopen = () => console.log('Connected to TouchDesigner');

ws.onmessage = (event) => {
    const droplets = JSON.parse(event.data);

    //clear canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    droplets.forEach(d => {
        // Fixed color for all droplets
        ctx.fillStyle = 'blue';

        // Map X/Y from TD ranges to canvas
        const x = (d.x / 100) * canvas.width;
        const y_flipped = canvas.height - (d.y / 1000) * canvas.height;

        //fixed radius
        const radius = 4;

        //draw droplets
        ctx.beginPath();
        ctx.arc(x, y_flipped, radius, 0, Math.PI*2);
        ctx.fill();
    });
};
</script>
</html>
